<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="3.1.1" targetFramework="net45" />
  <package id="akavache.portable" version="3.1.1" targetFramework="net45" />
  <package id="akavache.sqlite3" version="3.1.1" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.14.1.0" targetFramework="net45" />
  <package id="Nancy" version="0.21.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="0.17.1" targetFramework="net40" />
  <package id="Nancy.Serialization.JsonNet" version="0.21.1" targetFramework="net40" />
  <package id="Nancy.SimpleAuthentication" version="0.3.8" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" requireReinstallation="True" />
  <package id="Octokit" version="0.1.4" targetFramework="net45" />
  <package id="Octokit.Reactive" version="0.1.4" targetFramework="net45" />
  <package id="Punchclock" version="1.0.1.1" targetFramework="net45" />
  <package id="reactiveui-core" version="5.2.0" targetFramework="net45" />
  <package id="RestSharp" version="104.1" targetFramework="net40" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net45" />
  <package id="SimpleAuthentication.Core" version="0.3.8" targetFramework="net40" />
  <package id="SimpleAuthentication.ExtraProviders" version="0.3.8" targetFramework="net40" />
</packages>